<mat-card *ngFor="let task of tasks">
  <mat-card-header>
    <mat-card-title>
{{task.title}}
</mat-card-title>
    <mat-card-subtitle>
     {{task.time}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
  <button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item >
      <mat-icon>create</mat-icon>
      <span>Edit the task</span>
    </button>
    <button mat-menu-item>
      <span>Complete the task</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete the task</span>
    </button>
  </mat-menu>
</mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Annual meeting at the headquaters
    </mat-card-title>
    <mat-card-subtitle>
      2023/05/18
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
  <button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item >
      <mat-icon>create</mat-icon>
      <span>Edit the task</span>
    </button>
    <button mat-menu-item>
      <span>Complete the task</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete the task</span>
    </button>
  </mat-menu>
</mat-card-actions>
</mat-card>
